NET SW0	LOC=P39;
NET SW1	LOC=P124;
NET BTN0	LOC=P143;
NET BTN1	LOC=P94;
NET LD0	LOC=P69;
NET LD1	LOC=P68;
NET LD2	LOC=P66;
NET LD3	LOC=P64;

NET AN1	LOC=p130;
NET AN2	LOC=p129;
NET AN3	LOC=p128;
NET AN4	LOC=p126;
NET CA	LOC=p56;
NET CB	LOC=p53;
NET CC	LOC=p60;
NET CD	LOC=p58;
NET CE	LOC=p57;
NET CF	LOC=p54;
NET CG	LOC=p61;
NET DP	LOC=p59;

NET CLK	LOC=p38;

NET J1B1	LOC=p9;
NET J1B2	LOC=p6;
NET J1B3	LOC=p4;
NET J1B4	LOC=p2;
NET J1T1 LOC=p10;
NET J1T2 LOC=p7;
NET J1T3 LOC=p5;
NET J1T4 LOC=p3;

NET J2B1 LOC=p140;
NET J2B2 LOC=p138;
NET J2B3 LOC=p135;
NET J2B4 LOC=p133;
NET J2T1 LOC=p142;
NET J2T2 LOC=p139;
NET J2T3 LOC=p136;
NET J2T4 LOC=p134;

NET J3B1 LOC=p118;
NET J3B2 LOC=p116;
#NET J3B3 LOC=p114;
NET J3B4 LOC=p112;